<div class="container mt-4" id="cart-main">
  {{#if empty}}
  <div>
    <p class="h2">Ваша корзина пуста</p>
    <p class="h3">Выберите нужный Вам товар и добавьте его в корзину.
    </p>
  </div>
  {{else}}

  <div class="main-cart"  id="cart-container">
    <div class="row cardArea" id="cart-area">
      {{#each socksList}}
      <div class="card" id="cart-img">
        {{{this.style}}}
        <p class="card-text">Цена {{this.price}} руб.</p>
        <p id="cart-mini-text">* Для студентов Эльбруса - 1999 руб.</p>
      </div>
      {{/each}}
    </div>

    {{!-- <div class="col mt-2 cart-btn" id="cart-btn">
      <a href="/order" class="btn btn-warning">Оформить заявку</a>
    </div> --}}
    {{/if}}
    <div class="col mt-2 cart-btn" id="cart-btn">
      <a href="/order" class="btn btn-warning">Оформить заявку</a>
    </div>
  </div>
</div>
