<div class="container mt-4">
  {{#if empty}}
  <div>
    <p class="h2">Ваша корзина пуста</p>
    <p class="h3">Выберите нужный Вам товар и добавьте его в корзину.
    </p>
  </div>
  {{else}}

  <div class="main-cart">
    <div class="row cardArea">
      {{#each socksList}}
      <div class="card" style="width: 18rem;">
        {{{this.style}}}
        <p class="card-text">Цена {{this.price}}</p>
      </div>
      {{/each}}
    </div>

    <div class="col mt-2 cart-btn">
      <a href="/order" class="btn btn-warning">Оформить заявку</a>
    </div>
    {{/if}}
  </div>
</div>
