<div class="container mt-4">
  {{#if empty}}
  <div>
    <p class="h2">Ваша корзина пуста</p>
    <p class="h3">Выберите нужный Вам товар и добавьте его в корзину.
    </p>
  </div>
  {{else}}

  <div class="col">
    <div class="row cardArea">
      {{#each socksList}}
      <div class="card p-1 m-1">
        <h5 class="card-title">Ваш дизайн #{{this.id}}</h5>
        <p class="card-text">Цена {{this.price}}</p>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="col mt-2">
    <a href="/order" class="btn btn-success">Оставить заявку</a>
  </div>
  {{/if}}
</div>