<div>
  {{#if empty}}
  <div>
    <p class="h2">Вы еще ничего не добавили в избранное</p>
  </div>
  {{else}}
  <div class="favourites-container">
    {{#each listFavourites}}
    <div class="card card-favourite" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <div class="buttons-favourites">
          <a href="#" class="btn btn-secondary">Удалить</a>
          <a href="#" class="btn btn-success">Добавить в корзину</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
