<div class="generator">
  <div class="sock-image">
    <img src="/images/sock-main/sock-new.PNG" class="sockMain" />
  </div>
  <div class="parameters">
    <div class="color-picker">
      <h4>Выберите цвет</h4>
      <button type="button" class="img-thumbnail" id="green"></button>
      <button type="button" class="img-thumbnail" id="beige"></button>
      <button type="button" class="img-thumbnail" id="orange"></button>
      <button type="button" class="img-thumbnail" id="red"></button>
      <button type="button" class="img-thumbnail" id="blue"></button>
      <button type="button" class="img-thumbnail" id="yellow"></button>
      <button type="button" class="img-thumbnail" id="pink"></button>
      <button type="button" class="img-thumbnail" id="del-color"></button>
    </input>
    <div class="img-picker">
      <h4>Выберите изображение</h4>
      <input class="img-thumbnail" type="image" src="/images/sock-img/whale.png" alt="" id="whale">
      <input class="img-thumbnail" type="image" src="/images/sock-img/tiger.png" alt="" id="tiger">
      <input class="img-thumbnail" type="image" src="/images/sock-img/robin.png" alt="" id="robin">
      <input class="img-thumbnail" type="image" src="/images/sock-img/mountain.png" alt="" id="mountain">
      <input class="img-thumbnail" type="image" src="/images/sock-img/wine-bottle.png" alt="" id="wine">
      <input class="img-thumbnail" type="image" src="/images/sock-img/shawarma.png" alt="" id="shawarma">
      <input class="img-thumbnail" type="image" src="/images/sock-img/cannabis.png" alt="" id="cannabis">
      <input class="img-thumbnail" type="image" src="/images/remove.png" alt="" id="del-img">
    </div>
    <div class="pattern-picker">
      <h4>Выберите узор</h4>
      <button type="button" class="img-thumbnail" id="oleg"></button>
      <button type="button" class="img-thumbnail" id="elbrus"></button>
      <button type="button" class="img-thumbnail" id="heart"></button>
      <button type="button" class="img-thumbnail" id="cat"></button>
      <button type="button" class="img-thumbnail" id="poo"></button>
      <button type="button" class="img-thumbnail" id="sockSockPrint"></button>
      <button type="button" class="img-thumbnail" id="stripes"></button>
      <button type="button" class="img-thumbnail" id="del-pattern"></button>
    </div>
    <div class="generator-buttons">
      <button type="button" class="btn btn-primary">Добавить в корзину</button>
      <button type="button" class="btn btn-primary" id="add-favourite-btn">Сохранить в избранное</button>
      <button type="button" class="btn btn-primary">Поделиться</button>
    </div>
  </div>
</div>

{{!-- <input type="image" src="/img/socks/145589.svg" name="coords" alt="Пример графической кнопки"> --}}
