<div class="generator">
  <div class="sock-image">
  <img src="/images/svg/sock.svg" class="filter-green"/>
  </div>
  <div class="parameters">
    <div class="color-picker">
      <h4>Выберите цвет</h4>
        <button type="button" class="img-thumbnail" id="green"></button>
        <button type="button" class="img-thumbnail" id="beige"></button>
        <button type="button" class="img-thumbnail" id="orange"></button>
        <button type="button" class="img-thumbnail" id="red"></button>
        <button type="button" class="img-thumbnail" id="blue"></button>
        <button type="button" class="img-thumbnail" id="yellow"></button>
        <button type="button" class="img-thumbnail" id="pink"></button>
    </div>
    <div class="img-picker">
      <h4>Выберите изображение</h4>
        <input class="img-thumbnail" type="image" src="/images/sock-img/whale.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/tiger.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/robin.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/mountain.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/wine-bottle.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/shawarma.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/cannabis.png" alt="">      
    </div>
    <div class="pattern-picker">
      <h4>Выберите узор</h4>
         <button type="button" class="img-thumbnail" id="oleg"></button>
         <button type="button" class="img-thumbnail" id=""></button>
         <button type="button" class="img-thumbnail" id=""></button>
         <button type="button" class="img-thumbnail" id=""></button>
         <button type="button" class="img-thumbnail" id=""></button>
         <button type="button" class="img-thumbnail" id=""></button>
         <button type="button" class="img-thumbnail" id=""></button>
    </div>
    <div class="generator-buttons">
      <button type="button" class="btn btn-primary">Добавить в корзину</button>
      <button type="button" class="btn btn-primary">Сохранить в избранное</button>
      <button type="button" class="btn btn-primary">Поделиться</button>
    </div>
  </div>
</div>

{{!-- <input type="image" src="/img/socks/145589.svg" name="coords" alt="Пример графической кнопки"> --}}
