<div class="generator">
  <div class="sock-image">
  <img src="/images/svg/2027990.svg" class="filter-green"/>
  </div>
  <div class="parameters">
    <div class="color-picker">
      <h4>Выберите цвет</h4>
        <input class="img-thumbnail" type="image" src="" alt="" id="green">
        <input class="img-thumbnail" type="image" src="" alt="" id="beige">
        <input class="img-thumbnail" type="image" src="" alt="" id="orange">
        <input class="img-thumbnail" type="image" src="" alt="" id="red">
        <input class="img-thumbnail" type="image" src="" alt="" id="blue">
        <input class="img-thumbnail" type="image" src="" alt="" id="yellow">
        <input class="img-thumbnail" type="image" src="" alt="" id="pink">
    </div>
    <div class="img-picker">
      <h4>Выберите изображение</h4>
        <input class="img-thumbnail" type="image" src="/images/sock-img/whale.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/tiger.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/robin.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/mountain.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/wine-bottle.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/shawarma.png" alt="">
        <input class="img-thumbnail" type="image" src="/images/sock-img/cannabis.png" alt="">      
    </div>
    <div class="pattern-picker">
      <h4>Выберите узор</h4>
    </div>
    <div>
      <button type="button" class="btn btn-primary">Добавить в корзину</button>
      <button type="button" class="btn btn-primary">Сохранить в избранное</button>
      <button type="button" class="btn btn-primary">Поделиться</button>
    </div>
  </div>
</div>

{{!-- <input type="image" src="/img/socks/145589.svg" name="coords" alt="Пример графической кнопки"> --}}
