<div class="container mt-4" id="login-container">
  <form class="was-validated" id="logForm" action="/login" method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label" style="color: #1bb1ec;">Введите email:</label>
      <input type="email" placeholder="ваш email" name="email" class="form-control is-invalid" id="email"
        aria-describedby="emailHelp" style="max-width: 100%" autocomplete="off" required>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label" style="color: #1bb1ec;">Введите пароль:</label>
      <input type="password" placeholder="ваш пароль" name="password" class="form-control is-invalid" id="password"
        style="max-width: 100%" autocomplete="off" minlength="6" required>
    </div>
    <div class="login-btns">
      <button id=" logBtn" type="submit" class="btn btn-info">Отправить</button>
      <a href="/" class="btn btn-warning">Вернуться на главную</a>
    </div>
  </form>
  <div id="loginModal" style="max-width: 80%"></div>
</div>
</div>



{{!-- <div class="container mt-5">

  <form class="was-validated" id="logForm" action="/login" method="POST">

    <div class="mb-3">
      <input type="email" placeholder="your email" name="email" class="is-invalid" id="email" style="max-width: 80%"
        autocomplete="off" required>
    </div>

    <div class="mb-3">
      <input type="password" placeholder="your password" name="password" class="is-invalid" id="password"
        style="max-width: 80%" autocomplete="off" minlength="6" required>
    </div>

    <button id=" logBtn" type="submit" class="btn">Отправить</button>

    <a href="/" class="btn">Вернуться на главную</a>

  </form>

  <div id="loginModal" style="max-width: 80%"></div>
</div> --}}
