<div class="main-page">
  <div class="main-page-content">
    <div class="main-text">Elbrus Socks - это яркий бренд, рожденный в Питере!
      Самая практичная и незаметная часть гардероба — носки — это традиционный подарок.
    </div>
    <div class="main-text">Мы исключительно за практичность,
      но вот с незаметностью категорически не согласны. Носки могут стать деталью образа, отражающего характер
      владельца.
    </div>
    {{#if isSession}}
    <a href="/generate" type="button" class="btn btn-info" id="main-page-btn">Создать свой дизайн</a>
    {{else}}
    <a href="/login" type="button" class="btn btn-info" id="main-page-btn">Создать свой дизайн</a>
    {{/if}}
  </div>
  <div class="main-page-img">
    <img src="/images/mainpage.png" alt="">
  </div>
</div>
