<div class="main-page-content">
  <div class="main-text">Elbrus Socks - это яркий бренд, рожденный в Питере!
    Самая практичная и незаметная часть гардероба — носки — это традиционный подарок.
  </div>
  <div class="main-text">Мы исключительно за практичность,
    но вот с незаметностью категорически не согласны. Носки могут стать деталью образа, отражающего характер владельца.
  </div>
  <a href="/generate" type="button" class="btn btn-info main-page-btn">Создать свой дизайн</a>
</div>
