  {{!-- размер контейнера регулируется в атрибуте. При необходимости адаптива - можно сделать отдельный класс, но
  адаптив
  работает через подключение мета-данных в layout --}}
  <div class="container-fluid mt-3" id="map" style="width: 600px; height: 320px"></div>