<div class="container mt-4">
  <a href="/generate" type="button" class="btn btn-outline-primary">Кнопка создать авторские носки, стиль на твой вкус,
    мне
    главное - ссылка. Еще мне не совсем ясно как реализован if/else, потому что кнопки на других страницах не
    поменялись, нужно думать над проверкой везде - в hbs и на сервере, на рендрере каждого роута </a>
  {{!-- размер контейнера регулируется в атрибуте. При необходимости адаптива - можно сделать отдельный класс, но
  адаптив
  работает через подключение мета-данных в layout --}}
  <div class="container-fluid mt-3" id="map" style="width: 600px; height: 320px"></div>
</div>