* {
  font-family: 'Poiret One', cursive;
  font-size: 24px;
}

#navbarNav {
  display: flex;
  justify-content: right;
}

.page-footer {
  display: flex;
  justify-content: space-around;
}

.favourites-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.buttons-favourites {
  display: flex;
  flex-direction: column;
}

.buttons-favourites a {
 margin: 5px;
}

.card-favourite {
  margin: 20px;
}

#down-footer {
  position: fixed; 
  left: 0; 
  bottom: 0;
  width: 100%;
}
.filter-green{
  filter: invert(73%) sepia(18%) saturate(324%) hue-rotate(270deg) brightness(103%) contrast(98%);
}
/*  
#green filter: invert(45%) sepia(95%) saturate(2867%) hue-rotate(150deg) brightness(92%) contrast(101%);
#beige filter: invert(98%) sepia(58%) saturate(494%) hue-rotate(305deg) brightness(103%) contrast(101%);
#orange filter: invert(85%) sepia(90%) saturate(611%) hue-rotate(308deg) brightness(101%) contrast(101%);
#red filter: invert(43%) sepia(7%) saturate(5940%) hue-rotate(316deg) brightness(107%) contrast(77%);
#blue filter: invert(77%) sepia(52%) saturate(625%) hue-rotate(179deg) brightness(101%) contrast(102%);
#yellow filter: invert(95%) sepia(50%) saturate(7335%) hue-rotate(322deg) brightness(107%) contrast(107%);\
#pink filter: invert(73%) sepia(18%) saturate(324%) hue-rotate(270deg) brightness(103%) contrast(98%);
*/
.generator {
  /* height: 700px; */
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 2%;
}

.sock-image {
  /* background-color: aqua; */
  /* margin-right: -100px; */
  display: flex;
  justify-content: space;
}

.sock-image img {
  width: 350px;
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.color-picker input {
  width: 100px;
}

/* Sock color */
#green {
  background-color: #00A19D;
  width: 100px;
  height: 100px;
}

#beige {
  background-color: #FFF8E5;
  width: 100px;
  height: 100px;
}

#orange {
  background-color: #FFC069;
  width: 100px;
  height: 100px;
}

#red {
  background-color: #E05D5D;
  width: 100px;
  height: 100px;
}

#blue {
  background-color: #A2D2FF;
  width: 100px;
  height: 100px;
}

#yellow {
  background-color: #FEE440;
  width: 100px;
  height: 100px;
}

#pink {
  background-color: #E4BAD4;
  width: 100px;
  height: 100px;
}

.img-picker input {
  width: 100px;
}

.pattern-picker button {
  width: 100px;
  height: 100px;
}

/* Pattern background-image */

#oleg {
  background-image: url(/images/sock-patterns/oleg.png);
  background-size: contain;
}


.generator-buttons {
  margin-top: 30px;
}
