* {
  font-family: 'Poiret One', cursive;
  font-size: 4vh;
}

/* header */

#navbarNav {
  display: flex;
  justify-content: right;
  height: 7vh;
}

#navbarNav a:hover{
  color: #FEE440;
}

.logo {
  display: flex;
  height: 7vh;
  padding-bottom: 4%;
}

.logo img {
  margin: 0 5%;
  width: 9vh;
  height: 9vh;
}

#title-main {
  color: #FEE440;
  font-size: 5vh;
  font-weight: 600;
}

/* main page */

.main-page {
  display: flex;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 5%;
}

.main-text {
  margin: 1%;
  font-size: 3.5vh;
  text-align: justify;
}

.main-page-img {
  width: 50%;
}

.main-page-img img {
  width: 100%;
  transform: rotate(1deg);
}

#main-page-btn {
  width: 50%;
  margin-top: 2%;
  color: white;
}

#main-page-btn:hover {
  color: #FEE440;
}

/* login */

#login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btns {
  display: flex;
  justify-content: flex-start;
}

.login-btns button {
  margin-right: 5%;
  height: 5%;
  font-size: 3vh;
}

.login-btns a {
  height: 5%;
  width: 150%;
  font-size: 3vh;
}

/* reg-container */

#reg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.reg-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.reg-flex label {
  font-size: 3.5vh;
}

.reg-btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.reg-btns button, .reg-btns a {
  margin-right: 4%;
  font-size: 3.5vh;
}

/* favourites */

.favourites-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* overflow: scroll; */
}

.buttons-favourites {
  display: flex;
  flex-direction: column;
}

.buttons-favourites a {
 margin: 5px;
 font-size: 3vh;
}

.card-favourite {
  margin: 20px;
  max-height: 45vh;
  max-width: 45vh;
}

/* footer */

.page-footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 4%;
}

.page-footer a {
  color: white;
  font-size: 3vh;
}

.page-footer a:hover {
  color: #22ccef;
}

#down-footer {
  position: fixed; 
  left: 0; 
  bottom: 0;
  width: 100%;
  height: 5vh;
}

.generator {
  /* height: 700px; */
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 2%;
}

.sock-image {
  /* background-color: aqua; */
  /* margin-right: -100px; */
  display: flex;
  justify-content: space;
  /* background-color: aqua;
  background-image: url(/images/sock-patterns/oleg.png); */
}

.sock-image img {
  width: 350px;
}

.parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.color-picker input {
  width: 100px;
  height: 100px;
}

/* Sock color */
#green {
  background-color: #00A19D;
  width: 100px;
  height: 100px;
}

#beige {
  background-color: #FFF8E5;
  width: 100px;
  height: 100px;
}

#orange {
  background-color: #FFC069;
  width: 100px;
  height: 100px;
}

#red {
  background-color: #E05D5D;
  width: 100px;
  height: 100px;
}

#blue {
  background-color: #A2D2FF;
  width: 100px;
  height: 100px;
}

#yellow {
  background-color: #FEE440;
  width: 100px;
  height: 100px;
}

#pink {
  background-color: #E4BAD4;
  width: 100px;
  height: 100px;
}

#del-color {
  width: 100px;
  height: 100px;
  background-image: url(/images/remove.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
}

.img-picker input {
  width: 100px;
  height: 100px;
}

.pattern-picker button {
  width: 100px;
  height: 100px;
}

/* Pattern background-image */

#oleg {
  background-image: url(/images/sock-patterns/oleg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#elbrus {
  background-image: url(/images/sock-patterns/elbrus.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#heart {
  background-image: url(/images/sock-patterns/heart.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#cat{
  background-image: url(/images/sock-patterns/cat.png);
  background-size: 200%;
  background-repeat: no-repeat;
}
#poo {
  background-image: url(/images/sock-patterns/poo.png);
  background-size: 175%;
  background-repeat: no-repeat;
}
#sockSockPrint {
  background-image: url(/images/sock-patterns/sock-print.png);
  background-size: 200%;
  background-repeat: no-repeat;
}
#stripes {
  background-image: url(/images/sock-patterns/stripes.png);
  background-size: 200%;
  background-repeat: no-repeat;
}

#del-pattern {
  background-image: url(/images/remove.png);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: 5px;
}

.generator-buttons {
  margin-top: 30px;
}

/* Color select buttons */

.sockGreen{
  background-color: #00A19D;
}
.sockBeige{
  background-color: #FFF8E5;
}
.sockOrange{
  background-color: #FFC069;
}
.sockRed{
  background-color: #E05D5D;
}
.sockBlue{
  background-color: #A2D2FF;
}
.sockYellow{
  background-color: #FEE440;
}
.sockPink{
  background-color: #E4BAD4;
}

/* Image select buttons */

.sockWhale {
  background-image: url(/images/sock-img/whale.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 190px;
}

.sockTiger {
  background-image: url(/images/sock-img/tiger.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 190px;
}

.sockRobin {
  background-image: url(/images/sock-img/robin.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 190px;
}

.sockMountain {
  background-image: url(/images/sock-img/mountain.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 190px;
}

.sockWine {
  background-image: url(/images/sock-img/wine-bottle.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 190px;
}

.sockShawarma {
  background-image: url(/images/sock-img/shawarma.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 190px;
}

.sockCannabis {
  background-image: url(/images/sock-img/cannabis.png);
  background-size: 24%;
  background-repeat: no-repeat;
  background-position-x: 240px;
  background-position-y: 190px;
}

/* Pattern select buttons */

.sockOleg{
  background-image: url(/images/sock-patterns/oleg.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sockElbrus{
  background-image: url(/images/sock-patterns/elbrus.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sockHeart{
  background-image: url(/images/sock-patterns/heart.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.sockCat{
  background-image: url(/images/sock-patterns/cat.png);
  background-size: 100%;
  background-repeat: repeat-y;
}

.sockPoo{
  background-image: url(/images/sock-patterns/poo.png);
  background-size: 100%;
  background-repeat: repeat;
}

.sockSockPrint{
  background-image: url(/images/sock-patterns/sock-print.png);
  background-size: 100%;
  background-repeat: repeat;
}

.sockStripes{
  background-image: url(/images/sock-patterns/stripes.png);
  background-size: 200%;
  background-repeat: repeat-y;
}
